

  <div class="jumbotron">

  <h1> APIKey demo </h1>
  <form method="post" action="/apikey">
    <input type="text" name="domainName"> domainName <br>
    <input type="text" name="apikey"> apiKey <br>
    <input type="submit">
  </form>
  </div>

  <!-- Hello World! -->
