<h1>Great Job!!</h1>
You just completed a todo item: <%= todo.item %>
that you created on <%= todo.createdAt %>  <br>
Congratulations!!!<br>
<a href="/todo">Return to your todo list <%= user.googlename %> </a>
