

  <div class="jumbotron">

    <h1> CS152a Sum21 Demo App</h1>

    <p>Welcome to the Authentication Demo for CS152 Sum21 </p>
  </div>


  <ul>

      <% if (loggedIn) {%>
      <li><a href="/pomodorosANSWER">Pomodoros </a></li>
      <li><a href="/apikeys">Go to the APIKeys page </a></li>
      <li><a href="/im">Go to the Independent Minors page </a></li>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>
      <% } %>
      <li><a href="/testing">Go to a test page </a></li>
      <li><a href="/testing2">Go to another test page </a></li>
  </ul>



  <!-- Hello World! -->
