

  <div class="jumbotron">

    <h1> Authentication Demo : Tim Hickey Belle Scott and Jiayin Li  </h1>

    <p>Welcome to the Authentication Demo </p>

    <ul>

      <% if (loggedIn) {%>
      <li><a href="/pomodorosANSWER">Pomodoros </a></li>
      <li><a href="/apikeys">Go to the APIKeys page </a></li>
      <li><a href="/im">Go to the Independent Minors page </a></li>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>
      <% } %>
      <li><a href="/testing">Go to a test page </a></li>
      <li><a href="/testing2">Go to another test page </a></li>
    </ul>
  </div>

  <!-- Hello World! -->
