

  <div class="jumbotron">
    <h1> Minors</h1>
    <p> Here are the Independent Minors </p>


    <ul>
      <% indMinors.forEach(im => { %>
          <li>
                <a href="/im/<%= im._id %>">
                    <%= im.title %>
                </a>
                <a href="/im/delete/<%= im._id %>">
                    X
                </a>
                <% if (im.ownerId == user.id) {%>
                    (OWNER)
                <% } %>

                <br>
               <%= im.createdAt %>
          </li>
      <% }) %>
    </ul>



      <form method="post" action="/im">
          new minor title: <input type="text" name="title"><br>
          <input type="submit" value="add minor">
      </form>

  </div>
