

  <div class="jumbotron">
    <h1> CS153a Peer Review </h1>

    <h2>Reviews for <%= student.googlename %></h2>




    <% reviews.forEach(review => {%>
        <hr>
                <%= review.review %>
            <% }) %>

        </tbody>
      </table>






  </div>
